<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
    <ion-searchbar [(ngModel)]="cardSearch" (ionInput)="search($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf="cardSearch && !selectedCard">
        <!--<button ion-item *ngFor="let card of cards" (click)="select(card)">-->
        <!--</button>-->
        <ion-item *ngFor="let card of cards" (click)="select(card)">
            <ion-avatar item-start>
                <img src="img/avatar-cher.png">
            </ion-avatar>
            <p>{{ card.name }}</p>
        </ion-item>
    </ion-list>
    <p *ngIf="!cardSearch">
        Search for a card!
    </p>

    <div *ngIf="selectedCard">
        <h2>{{selectedCard.name}}</h2>
        <!--<img src="" alt="">-->
        <ion-list>
            <ion-item>
                <ion-label fixed>Value</ion-label>
                <ion-input [(ngModel)]="selectedCard.priceOnCard" type="text" value=""></ion-input>
            </ion-item>
        </ion-list>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <button ion-button full color="danger" (click)="cancel()">Cancel</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button full color="secondary" (click)="checkOut()">Checkout</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
