<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
    <ion-searchbar [(ngModel)]="cardSearch" (ionInput)="search($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf="cardSearch && !selectedCard">

        <ion-item *ngFor="let card of cards" (click)="select(card)">
            <ion-avatar item-start>
                <img src="https://giftcash.ca/{{card.image}}">
            </ion-avatar>
            <p>{{ card.name }}</p>
        </ion-item>
    </ion-list>
    <p *ngIf="!cardSearch">
        Search for a card!
    </p>

    <div *ngIf="selectedCard">

        <div text-center>
            <img src="https://giftcash.ca/{{selectedCard.image}}">
            <h2>{{selectedCard.name}}</h2>
        </div>    
                    
        <!--<img src="" alt="">-->
        <p text-center>Enter the card balance below.</p>
        <ion-list>
            <ion-item>
                <ion-label>Value</ion-label>
                <ion-input [(ngModel)]="selectedCard.cardBalance" type="text" value=""></ion-input>
            </ion-item>
        </ion-list>
        <ion-grid>
            <ion-row> 
                <ion-col col-12 *ngIf="selectedCard.cardBalance && selectedCard.cardBalance >= 5">
                    You offer is $100
                </ion-col>
                <ion-col col-12 *ngIf="selectedCard.cardBalance && selectedCard.cardBalance < 5">
                    <p>Sorry we do not accept values less than $5</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <button ion-button full color="danger" (click)="cancel()">Cancel</button>
                </ion-col>
                <ion-col col-6 *ngIf="selectedCard.cardBalance && selectedCard.cardBalance > 5">
                    <button ion-button full color="btnGreen" (click)="checkOut()">Accept Offer</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
